﻿@{
    ViewData["Title"] = "Browser";
    var result = ViewBag.Result as Data.Lib.BrowsingResult;
}

@Html.ActionLink("Back to root", "Index")

@if (result.Properties?.Any() == true) {
    <h5>Properties</h5>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        @foreach (var prop in result.Properties) {
            <tr>
                <td>@prop.Key</td>
                <td>@prop.Value</td>
            </tr>
        }
    </table>
}

@if (result.NavigationProperties?.Any() == true) {
    <h5>Navigation properties</h5>
    <ul>
        @foreach (var nav in result.NavigationProperties) {
            <li>@Html.ActionLink(nav, "Browse", new { navProp = nav }) (Object)</li>
        }
    </ul>
}

@if (result.NavigationLists?.Any() == true) {
    <h5>Navigation lists</h5>
    <ul>
        @foreach (var nav in result.NavigationLists) {
            <li>@Html.ActionLink(nav, "Browse", new { navList = nav }) (List)</li>
        }
    </ul>
}

@if (result.Items?.Any() == true) {
    var propNames = result.Items.SelectMany(x => x.Keys).Distinct().ToList();
    var index = 0;
    <h5>Items (first 1000 items)</h5>
    <table>
        <tr>
            <th></th>
            @foreach (var prop in propNames) {
                <th>@prop</th>
            }
        </tr>
        @foreach (var item in result.Items) {
            <tr>
                <td>@Html.ActionLink("Navigate", "Browse", new { navIndex = index++ })</td>
                @foreach (var prop in propNames) {
                    if (item.TryGetValue(prop, out var value)) {
                        <td>@value</td>
                    } else {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>
}
